{% extends "base.html" %}
{% load app_filters %}
{% block title %}Посмотреть записи{% endblock %}
{% block sidebar_appointment %}active{% endblock %}
{% block body_header %}
Посмотреть записи
    <span class="lead"> Нажмите на запись, чтобы показать больше вариантов.</span>
    <br>
    <a class="btn btn-success btn-sm" href="/appointment/create/" role="button">Новое запись</a>
    <a class="btn btn-primary btn-sm" href="/appointment/list/" role="button">Просмотр списка</a>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
        </div>
        <div class="col-sm-12">
            {% include "virtualclinic/appointment/appointment_calendar.html" %}
        </div>
    </div>
{% endblock %}