{% extends "base.html" %}
{% load app_filters %}
{% block title %}Смотреть активности{% endblock %}
{% block sidebar_admin_activity %}active{% endblock %}
{% block body_header %}
    Смотреть активность записи на прием к врачу
    <br>
    <a class="btn btn-success btn-sm" href="/admin/backup/" role="button">Резервное копирование данных</a>
{% endblock %}
{% block body %}

    <table id="datatable" class="table table-hover table-striped table-bordered">
        <thead>
            <th>Тип</th>
            <th>Описание</th>
            <th>пользователь</th>
            <th>время</th>
        </thead>
        <tbody>
            {% for action in query %}
                <tr>
                    <td>{{ action.type|getActivityAction }}</td>
                    <td>{{ action.description }}</td>
                    <td>{{ action.account.user.username }}</td>
                    <td>{{ action.timePerformed }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').DataTable({
                "order": [[ 3, "desc" ]]
            });
        } );
    </script>
{% endblock %}
