{% extends "base.html" %}
{% load app_filters %}
{% block title %}Удалить пользователей{% endblock %}
{% block sidebar_admin_users %}active{% endblock %}
{% block body_header %}
Просмотр пользователей в архиве
    <br>
    <a class="btn btn-success btn-sm" href="/admin/createemployee/" role="button">Добавить</a>
    <a class="btn btn-info btn-sm" href="/admin/users/" role="button">Просмотр текущих пользователей</a>
{% endblock %}
{% block body %}
    <table id="datatable" class="table table-hover table-striped table-bordered">
        <thead>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Роль</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for account in query %}
                <tr>
                    {% comment %}{% if user.username != account.user.username %}{% endcomment %}
                        <td>{{ account.user.username }}</td>
                        <td>{{ account.profile.firstname }}</td>
                        <td>{{ account.profile.lastname }}</td>
                        {% if account.role == 10 %}<td>Пациент</td>{% endif %}
                        {% if account.role == 20 %}<td>Доктор</td>{% endif %}
                        {% if account.role == 30 %}<td>Aдмин</td>{% endif %}
                        {% if account.role == 40 %}<td>Лаборант</td>{% endif %}
                        {% if account.role == 50 %}<td>Химик</td>{% endif %}
                                <script type="text/javascript">
                                                function proxy{{ account.pk }}() {
                                                    configureModal(
                                                            {{ account.pk }},
                                                            '{{ account.user.username }}',
                                                            '{{ account.role }}'
                                                        )
                                                };
                                            </script>
                        <td><button onclick="proxy{{ account.pk }}()" type="button" class="btn btn-danger" data-toggle="modal" data-target="#restore-modal">востановить</button></td>
                    {% comment %}{% endif %}{% endcomment %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "virtualclinic/admin/restore_user_modal.html" %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').DataTable();
        });

        function configureModal(pk, username, role) {
            if(role == 10) {
                document.getElementById('restore-modal-body').innerHTML = 'Вы уверены, что хотите восстановить пациента? '.concat(username, '?');
                document.getElementById('restore-modal-hidden').value = pk;
            }
            else if(role == 20) {
                document.getElementById('restore-modal-body').innerHTML = 'Вы уверены, что хотите восстановить доктора? '.concat(username, '?');
                document.getElementById('restore-modal-hidden').value = pk;
            }
            else if(role == 30) {
                document.getElementById('restore-modal-body').innerHTML = 'Вы уверены, что хотите восстановить админа? '.concat(username, '?');
                document.getElementById('restore-modal-hidden').value = pk;
            }
            else if(role == 40) {
                document.getElementById('restore-modal-body').innerHTML = 'Вы уверены, что хотите восстановить lab? '.concat(username, '?');
                document.getElementById('restore-modal-hidden').value = pk;
            }
            else if(role == 50) {
                document.getElementById('restore-modal-body').innerHTML = 'Вы уверены, что хотите восстановить chemist?'.concat(username, '?');
                document.getElementById('restore-modal-hidden').value = pk;
            }
        }
    </script>
{% endblock %}