{% extends "base.html" %}
{% load app_filters %}
{% block title %}Загрузить CSV-файл{% endblock %}
{% block sidebar_admin_import %}active{% endblock %}
{% block body_header %}
Скачать CSV-файл
    <br>
    <a class="btn btn-success btn-sm" href="/admin/import/" role="button">Загрузить CSV</a>
{% endblock %}
{% block body %}
    <div class="col-sm-6">
        <p class="lead">Выберите тип файла и нажмите '{{ form_button }}' скачать.</p>
        {% include "singleform.html" %}
    </div>
{% endblock %}